<app-navbar></app-navbar>
<div class="landing-page">
  <div class="content">
    <div class="header-section">
      <h1 class="title">yowdie</h1>
      <p class="subtitle">loFI and chillwave beats and threads</p>
    </div>
    
    <div class="album-section">
      <p-card class="album-card">
        <ng-template pTemplate="content">
          <!-- <p-image 
            src="assets/yowdie-the-world-is-not-ending-album-art.png" 
            alt="Yowdie - The World Is Not Ending Album Cover" 
            class="album-cover" 
            /> -->
            <img src="assets/yowdie-the-world-is-not-ending-album-art.png" alt="Yowdie - The World Is Not Ending Album Cover" class="album-cover" />
        </ng-template>
      </p-card>
    </div>
    
    <div class="footer-section">
      <p class="footer-text">
        yowdie.com is operated by Jordan Smith.<br>
        For info, email <a href="mailto:jordan&#64;yowdie.com">jordan&#64;yowdie.com</a>
      </p>
    </div>
  </div>
</div>