<app-navbar></app-navbar>
<div class="landing-page">
  <div class="hero-section">
    <div class="hero-background"></div>
    <div class="hero-content">
      <!-- <div class="hero-avatar">
        <img src="assets/yowdie-avatar-1.png" alt="yowdie avatar" class="avatar-image">
      </div> -->
      <span class="hero-title">yowdie</span>
      <span class="hero-subtitle">lofi | chillhop | chillwave</span>
    </div>
  </div>

  <div class="content">
    <h2 class="upcoming-releases-title">upcoming releases</h2>
    <div class="horizontal-divider"></div>

    <app-release-card
        albumArtPath="assets/4ever-single.jpg"
        releaseTitle="4ever"
        releaseFormat="single"
        spotifyLink="https://distrokid.com/hyperfollow/yowdie/4ever"
        appleMusicLink="https://music.apple.com/us/album/4ever-single/1830951147"
        releaseDate="August 15th, 2025"
    ></app-release-card>

    <app-release-card
      albumArtPath="assets/yowdie-the-world-is-not-ending-album-art.png"
      releaseTitle="the world is not ending"
      releaseFormat="album"
      spotifyLink="https://open.spotify.com/artist/2RVTPV9ZxBGFLfnR2iVTi0"
      appleMusicLink="https://music.apple.com/us/artist/yowdie/1827714517"
      releaseDate="October 10th, 2025"
    ></app-release-card>
  </div>

  <app-footer></app-footer>
</div>